.benfitboxx{
    background-color: #f4f4f4;
}
.benfitsboxs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    gap: 10px;
    }
    .benfitsboxs>div{
        width: 350px;
        background-color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.benfitsboxs  img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width:735px){
    .benfitsboxs>div{
        width: 200px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    .benfitsboxs{
        padding: 10px;
    }

}
@media screen and (max-width:432px){
    .benfitsboxs>div{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    

}